<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>12xChat -Responsive Multi-purpose HTML5 Template</title>
  <meta name="description" content="Cabe - Responsive Multi-purpose HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- STYLESHEETS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css" media="all">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" type="text/css" media="all">

  <link rel="stylesheet" href="../static/css/themify-icons.css">

  <link rel="stylesheet" href="../static/main.min.css" type="text/css" media="all">
<!--  <link rel="stylesheet" href="../static/css/dark.css">-->


  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<main class="bg-grey" style="background-image: url(../static/images/bg-2.png);">
  <div class="d-flex align-items-center mx-auto login-form">
    <div class="container">
      <div class="card">
        <div class="card-body p-5">
<!--          <form>-->
            <h3 class="title-text mb-5"><b>Login</b></h3>
            <div class="input-group mb-3">
              <i class="ti-user"></i>
              <input class="form-control form-control-lg" name="username" id="username" type="text" placeholder="Username">
            </div>
<!--            <div class="input-group mb-3">-->
<!--              <i class="ti-lock"></i>-->
<!--              <input class="form-control form-control-lg" id="password" type="password" placeholder="Password" required="">-->
<!--            </div>-->
            <a class="link-primary" href="forgot-password.html">Forgot password?</a>
            <button class="btn btn-block btn-lg btn-primary mt-2" type="button" onclick="loginRequest()">Sign In</button>
<!--            <p class="mt-4 text-center">Don't have account? <a class="link-primary" href="register.html">Sign Up</a>.</p>-->
<!--          </form>-->
        </div>
      </div>
    </div>
  </div>
</main>


<!-- SCRIPTS -->
<script src="../static/js/plugin.js"></script>
<script src="../static/js/main.min.js"></script>

<script>

  function loginRequest(){

    $.post('doLogin', {
      user_name: $('#username').val()
    },function (ret){
        console.log('dfghjk');
        console.log(ret.code,ret.data)
        if(ret.code === 10000){
            console.log('登录成功');
            window.location.href = "/home/index";
        }else{
            alert('操作失败，请重新登录');
        }
    },'json'
    )
  }
</script>


</body>

</html>
